h1 {
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 40px;
}

h2 {
    font-size: 18px;
    margin-bottom: 15px;
    padding-left: 80px;
}

p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.8;
    padding-left: 120px;
}

ul {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 120px;
}

table {
    border-collapse: collapse;
    margin: 0 auto; /* Центрирует таблицу горизонтально */
    font-size: 18px; /* Размер шрифта */
}

table, th, td {
    border: 1px solid black; /* Обводка ячеек таблицы */
    padding: 8px; /* Внутренний отступ ячеек */
}

form {
    padding-left: 800px;
    max-width: 1600px;
    font-size: 18px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button[type="submit"] {

    background-color: #4CAF50;
    color: white;
    padding: 10px 70px;
    margin-left: 55px;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #ddd;
}

select::-ms-expand {
    display: none;
}